@font-face {
  font-family: 'Sentinel';
  font-weight: normal;
  font-style: normal;
  src: local('Sentinel') url('/fonts/Sentinel-Book.woff2') format('woff2'),
    url('/fonts/Sentinel-Book.woff') format('woff'),
    url('/fonts/Sentinel-Book.ttf') format('truetype'),
    url('/fonts/Sentinel-Book.eot') format('embedded-opentype');
}
