{% include menus/mobile.html %}

<header class="site-header">
    <div class="container">
      <a href="/">
        <svg class="mobile-logo">
          <use xlink:href="#icon-mobile-logo"></use>
        </svg>
        <svg class="desktop-logo">
          <use xlink:href="#icon-desktop-logo"></use>
        </svg>
      </a>
      <a class="site-header__toggle pull-right">
        <span class="toggle-line"></span>
        <span class="toggle-line"></span>
        <span class="toggle-line"></span>
      </a>
      {% include menus/desktop.html %}
    </div>
  </header>
