.container {
  max-width: 100%;
  padding: 0 1.25em;
  @include clearfix;

  @include media('>=tablet') {
    padding: 0 2.5em;
  }

  @include media('>=desktop') {
    padding: 0 1.25em 0 1.25em;
  }

  @include media('>=1200px') {
    padding: 0;
  }
}

.container--contact {
  margin: 0 auto;
  max-width: 770px;
  padding: 0 1.25em;
  width: 100%;

  @include media('>=tablet') {
    padding: 0 2.5em;
  }
}
