<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <main class="page-wrapper">
      <div id="svg-defs">
        {% include svg-defs.html %}
      </div>
      {% include header.html %}
      <section class="contact fade-in">
        <div class="container--contact">
          <div class="contact__bio">
            <h2>{{ page.bio }}</h2>
            <div class="social-icons">
              <a href="mailto:{{ page.email }}">
                <svg class="social-icons__mail">
                  <use xlink:href="#icon-mail"></use>
                </svg>
              </a>
              <a href="https://www.instagram.com/{{ page.instagram_username }}">
                <svg class="social-icons__instagram">
                  <use xlink:href="#icon-instagram"></use>
                </svg>
              </a>
            </div>
          </div>

          <div class="contact__copy">
            <h4 class="mobile-hidden">CLIENTS INCLUDE:
              {% for client in page.clients %}
                {% if forloop.last %}
                  {{ client }}
                {% else %}
                  {{ client }},
                {% endif %}
              {% endfor %}
            </h4>

            <div class="contact__card">
              <h4 class="primary-font contact__headline">Contact Info</h4>
              <ul class="contact__info primary-font">
                <li>Email: <a href="mailto:{{ page.email }}">{{ page.email }}</a></li>
                <li>Phone: {{ page.phone }}</li>
              </ul>
            </div>

            <div class="image-wrapper">
              {% if page.image != nil %}
                <img src="{{ page.image }}" alt="Profile Image of Angi Welsch">
              {% endif %}
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
